.bestProducts {
    width: 100%;
    height: 1000px;
}

.title {
  width: 100%;
  height: 18%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 0.5rem;
}

.subtitle {
  width: 100%;
  height: 12%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 0.5rem;
}

.productContainer {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 0rem 4rem 0 4rem;
  gap: 2rem;
}

.productBox {
  width: 24rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-top: 1rem;
  filter: brightness(85%);
  transition: filter 0.3s ease;
}

.productBox:hover {
  filter: brightness(100%);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.productImgBox {
  width: 22rem;
  height: 22rem;
}

.productImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.price {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.stateBox {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.state {
  padding: 0.5rem 1rem;
  border: 0.1rem solid black;
}