.bestProducts {
  min-width: 576px;
  max-width: 1800px;
  width: 100%;
  height: 1000px;
}

.title {
  width: 100%;
  height: 18%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.subTitle {
  width: 100%;
  height: 12%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 0.5rem;
}


/* xtra xtra large 1200 ~  */

@media screen and (max-width: 1400px) {}

/* xtra large 993px ~ 1200px */

@media screen and (max-width: 1200px) {
  .subTitle {
    height: auto;
    font-size: 2rem;
    padding: 1rem 5rem;
    text-align: center;
  }
}

/* large 769px ~ 992px */

@media screen and (max-width: 992px) {

  .bestProducts {
    height: auto;
  }

  .title {
    margin: 10rem 0 3rem;
    text-align: center;
    padding: 0 5rem;
  }

  .subTitle {
    margin-bottom: 5rem;
  }

}

/* medium 577px ~ 768px */

@media screen and (max-width: 768px) {}

/* small 0px ~ 576px */

@media screen and (max-width: 576px) {}