.bestProducts {
  min-width: 576px;
  max-width: 1800px;
  width: 100%;
  height: 1000px;
}

.title {
  width: 100%;
  height: 18%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.subTitle {
  width: 100%;
  height: 12%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 0.5rem;
}

/* mobile 0px ~ 576px */

@media screen and (max-width: 576px) {
  .bestProducts {
    height: auto;
  }

  .title {
    height: 10rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    padding: 0 2rem 1rem 2rem;
  }

  .subTitle {
    height: 10rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    padding: 1rem 2rem 0rem 2rem;
  }

  .productBox {
    padding-top: 0.5rem;
  }

}