.brandValue {
  width: 100%;
  height: 1000px;
  padding: 5rem;
  background-color: var(--farmYellowWhite);
}

.textContainer {
  width: 100%;
  height: 50%;
  display: flex;
}

.title {
  width: 60%;
  height: 100%;
}

.ImgContainer {
  width: 100%;
  height: 60%;
}

.firstLineTitle,
.secondLineTitle {
  font-size: 2.5rem;
  font-weight: bold;
}

.description {
  font-size: 1.5em;
  line-height: 1.5;
  margin-top: 2rem;
}

.valueListContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.valueBox {
  width: 80%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2rem solid black;
}

.valueName,
.valueIcon {
  font-size: 1.5rem;
  font-weight: bold;
}

.valueImg {
  width: 100%;
  height: 50%;
  object-fit: cover;
}









/* xtra xtra large 1200 ~  */

@media screen and (max-width: 1400px) {}

/* xtra large 993px ~ 1200px */

@media screen and (max-width: 1200px) {
  .brandValue {
    padding: 3rem;
  }
}

/* large 769px ~ 992px */

@media screen and (max-width: 992px) {}

/* medium 577px ~ 768px */

@media screen and (max-width: 768px) {
  .brandValue {
    height: auto;
  }

  .title {
    width: 100%;
    margin-bottom: 3rem;
  }

  .textContainer {
    flex-direction: column;
    align-items: center;
  }

  .firstLineTitle {
    margin-top: 5rem;
  }

  .valueListContainer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
  }

  .valueBox {
    width: 100%;
  }

}

/* mobile 0px ~ 576px */

@media screen and (max-width: 576px) {}