.brandValue {
  width: 100%;
  height: 900px;
  padding: 5rem;
  background-color: var(--farmYellowWhite);
}

.textContainer {
  width: 100%;
  height: 50%;
  display: flex;
}

.title {
  width: 60%;
  height: 100%;
}

.ImgContainer {
  width: 100%;
  height: 60%;
}

.firstLineTitle,
.secondLineTitle {
  font-size: 2.5rem;
  font-weight: bold;
}

.description {
  font-size: 1.5em;
  line-height: 1.5;
  margin-top: 2rem;
}

.valueListContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.valueBox {
  width: 80%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2rem solid black;
}

.valueName,
.valueIcon {
  font-size: 1.5rem;
  font-weight: bold;
}

.valueImg {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

/* mobile 0px ~ 576px */

@media screen and (max-width: 576px) {
  .brandValue {
    /*  */
    height: auto;
    padding: 2rem;
  }

  .valueImg {
    /*  */
    height: 20rem;
  }

  .textContainer {
    /*  */
    flex-direction: column;
  }

  .title {
    /*  */
    width: 100%;
    height: 20rem;
    margin-bottom: 2rem;
  }

  .ImgContainer {
    width: 100%;
    height: 60%;
  }

  .firstLineTitle,
  .secondLineTitle {
    /*  */
    font-size: 1.8rem;
  }

  .secondLineTitle {
    margin-bottom: 2rem;
  }

  .description {
    /*  */
    font-size: 1.5rem;
    margin-top: 0rem;
  }

  .valueListContainer {
    /*  */
    width: 100%;
    height: 20rem;
    align-items: normal;
  }

  .valueBox {
    /*  */
    width: 100%;
    margin-top: 1rem;
    border-bottom: 0.1rem solid black;
  }

  .valueName,
  .valueIcon {
    /*  */
    font-size: 1.2rem;
  }
}
