.brandStory {
    width: 100%;
    height: 1200px;
    position: relative;
}

.parllax {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/etcImg/brandStory.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
}

.contents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.story {
    width: 42%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-right: 5rem;
}

.centerLine {
    position: absolute;
    width: 0.5rem;
    height: 80%;
    background-color: white;
}

.vison {
    width: 42%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 5rem;
}

.storyTitle,
.visonTitle {
    font-size: 3rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    color: aliceblue;
}

.storyDescription,
.visonDescription {
    font-size: 1.5rem;
    margin-top: 3rem;
    color: aliceblue;
}