.brandValue {
    width: 100%;
    height: 1000px;
    padding: 5rem;
    background-color: var(--farmYellowWhite)
}

.textContainer {
  width: 100%;
  height: 50%;
  display: flex;
}

.title {
  width: 60%;
  height: 100%;
}

.ImgContainer {
  width: 100%;
  height: 60%;
}

.firstLineTitle {
  font-size: 3rem;
  font-weight: bold;
}

.secondLineTitle {
  font-size: 3rem;
  font-weight: bold;
}

.description {
  font-size: 2em;
  line-height: 1.5;
  margin-top: 2rem;
}

.valueListContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.valueBox {
  width: 80%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2rem solid black;
}

.valueName {
  font-size: 2rem;
}

.valueIcon {
  font-size: 2em;
}

.valueImg {
  width: 100%;
  height: 50%;
  object-fit: cover;
}