.popularProducts-container {
  width: 100%;
  height: 1000px;
  background-color: rgb(174, 174, 110);
}

.popularProducts-title {
  width: 100%;
  height: 18%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 0.5rem;
}

.popularProducts-subtitle {
  width: 100%;
  height: 12%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 0.5rem;
  background-color: coral;
}

.popularProducts-itemBox {
  width: 10rem;
  height: 10rem;
  position: relative;
}

.popularProducts-item {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.popularProducts-item:hover {
  filter: brightness(50%);
}

.popularProducts-itemContainer {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 4rem;
  background-color: darkcyan;
}

.popularProducts-itemBox {
  width: 20rem;
  height: 32rem;
  padding: 1rem;
  background-color: bisque;
}

.popularProducts-itemImgBox {
  width: 18rem;
  height: 18rem;
}

.popularProducts-item-title {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(153, 129, 99);
}

.popularProducts-item-price {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: cornflowerblue;
}

.popularProducts-item-stateBox {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.popularProducts-item-state {
  padding: 0.5rem 1rem;
  border: 0.1rem solid black;
}
