.recommended {
    width: 100%;
    height: 1100px;
    margin-bottom: 5rem;
}

.title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
}

.description {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 1rem;
    font-size: 2rem;
}

.slide {
    width: 100%;
    height: 70%;
    padding-bottom: 5rem;
}

/* mobile 0px ~ 576px */

@media screen and (max-width: 576px) {

    .recommended {
        width: 100%;
        height: auto;
    }

    .title {
        height: 10rem;
        padding-bottom: 0.5rem;
        font-size: 2rem;
        font-weight: bold;
    }

    .description {
        width: 100%;
        height: 10rem;
        align-items: center;
        padding: 1rem;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .slide {
        height: auto;
        padding-bottom: 0;
    }
}