.recommended {
    width: 100%;
    height: 1100px;
    margin-bottom: 5rem;
}

.title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
}

.description {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 1rem;
    font-size: 2rem;
}

.slide {
    width: 100%;
    height: 70%;
    padding-bottom: 5rem;
}


/* xtra xtra large 1200 ~  */

@media screen and (max-width: 1400px) {}

/* xtra large 993px ~ 1200px */

@media screen and (max-width: 1200px) {}

/* large 769px ~ 992px */

@media screen and (max-width: 992px) {
    .description {
        height: auto;
        padding: 1rem 5rem;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }
}

/* medium 577px ~ 768px */

@media screen and (max-width: 768px) {
    .slide {
        width: 100%;
        height: auto;
    }
}

/* small 0px ~ 576px */

@media screen and (max-width: 576px) {
    .recommended {
        width: 100%;
        height: auto;
    }

    .title {
        height: 10rem;
        padding-bottom: 0.5rem;
        font-size: 2rem;
        font-weight: bold;
    }

    .description {
        margin-bottom: 5rem;
    }
}