.recommended {
    width: 100%;
    height: 1100px;
}

.title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
}

.description {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 1rem;
    font-size: 2rem;
}

.slide {
    width: 100%;
    height: 70%;
    padding-bottom: 5rem;
}