.review {
    width: 100%;
    height: 1200px;
    padding: 2rem;
}

.title {
    width: 100%;
    height: 15%;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: end;
    padding: 2rem;
}

.ReviewBoard {
    width: 100%;
    height: 85%;
}

/* mobile 0px ~ 576px */

@media screen and (max-width: 576px) {
    .review {
        width: 100%;
        height: auto;
        /*  */
        padding: 1rem;
    }

}