.review {
    width: 100%;
}

.title {
    width: 100%;
    height: 10rem;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: end;
    padding: 2rem;
}

.ReviewBoard {
    width: 100%;
    height: auto;
}


/* xtra xtra large 1200 ~  */

@media screen and (max-width: 1400px) {}

/* xtra large 993px ~ 1200px */

@media screen and (max-width: 1200px) {}

/* large 769px ~ 992px */

@media screen and (max-width: 992px) {
    .title {
        justify-content: center;
    }
}

/* medium 577px ~ 768px */

@media screen and (max-width: 768px) {}

/* small 0px ~ 576px */

@media screen and (max-width: 576px) {
    .title {
        text-align: center;
    }
}