.review {
    width: 100%;
    height: 1200px;
    padding: 2rem;
}

.title {
    width: 100%;
    height: 10%;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: end;
    padding-left: 3rem;
}

.ReviewBoard {
    width: 100%;
    height: 90%;
}