.subscription {
  width: 100%;
  height: 1000px;
  display: flex;
  background-color: var(--farmYellowWhite);
  padding-bottom: 2rem;
}

.rightBox {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
}

.leftImg {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.rightTitle {
  font-size: 4rem;
}

.rightSubTitle {
  font-size: 2rem;
  margin: 1rem 0 3rem 0;
}

.rightDescription {
  font-size: 1.4rem;
  line-height: 2;
}

.rightPrice {
  font-size: 2rem;
  font-weight: bold;
  margin: 6rem 0 4rem 0;
}

.rightBtn {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.rightBtn:hover {
  color: aliceblue;
  background-color: darkgray;
}

/* mobile 0px ~ 576px */

@media screen and (max-width: 576px) {
  .subscription {
    /* height: auto; */
    display: flex;
    flex-direction: column;
  }

  .leftBox {
    width: 100%;
    height: 50%;
  }

  .rightBox {
    width: 100%;
    height: 50%;
    padding: 1rem;
  }

  .rightTitle {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
  }

  .rightSubTitle {
    font-size: 0rem;
    margin: 1.5rem;
  }

  .rightDescription {
    font-size: 1rem;
    line-height: 1.5;
  }

  .rightPrice {
    font-size: 1.3rem;
    margin: 3rem 0 2rem 0;
  }

  .rightBtn {
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

/* xtra xtra large 1200 ~  */

@media screen and (max-width: 1400px) {}

/* xtra large 993px ~ 1200px */

@media screen and (max-width: 1200px) {
  .rightTitle {
    font-size: 3rem;
  }
}

/* large 769px ~ 992px */

@media screen and (max-width: 992px) {
  .subscription {
    height: auto;
    flex-direction: column;
  }

  .leftImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: aquamarine;
  }

  .rightBox {
    width: 100%;
    height: auto;
  }

  .rightTitle {
    font-size: 3rem;
    margin-top: 4rem;
  }

  .rightDescription {
    font-size: 2rem;
    line-height: 1.5;
    padding: 2rem;
  }

  .rightBtn {
    padding: 2rem;
    font-size: 2rem;
  }
}

/* medium 577px ~ 768px */

@media screen and (max-width: 768px) {}

/* small 0px ~ 576px */

@media screen and (max-width: 576px) {}