.base {
    max-width: 1800px;
    min-width: 320px;
    width: 1800px;
    background-color: rgb(255, 217, 171);
    margin: auto;
}

.brandStory {
    width: 100%;
    height: 1200px;
    background-color: darkgray;
}

.review {
    width: 100%;
    height: 1600px;
    padding: 5rem 5rem;
}

.footer {
    width: 100%;
    height: 800px;
    padding: 3rem;
    background-color: pink;
}