.topNav {
  max-width: 1800px;
  min-width: 320px;
  width: 100%;
  height: 5em;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  background-color: rgb(246, 183, 87);
  z-index: 10;
  margin: auto;
}

.topNav-left {
  /* width: 30%; */
  height: 100%;
  background-color: darkkhaki;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  padding-left: 3rem;
}

.topNav-center {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
}

.topNav-right {
  width: 20%;
  height: 100%;
  background-color: rgb(14, 114, 56);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  padding-right: 3rem;
}

.topNav-menu00,
.shopBtn,
.topNav-menu02,
.topNav-menu03,
.topNav-menu04,
.login,
.chat,
.burger-svg,
.topNav-underside-shopBtn {
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1rem 0.5rem;
}

.topNav-menu00:hover,
.shopBtn:hover,
.topNav-menu02:hover,
.topNav-menu03:hover,
.topNav-menu04:hover,
.login:hover,
.chat:hover,
.topNav-underside-shopBtn:hover {
  color: crimson;
}

.burger-svg:hover rect {
  fill: crimson !important;
}

.logo {
  cursor: pointer;
}

.logo:hover text {
  fill: crimson !important;
}

.topNav-underSide {
  max-width: 1800px;
  min-width: 320px;
  width: 100%;
  height: 0.2rem;
  overflow: hidden;
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5rem;
  padding-top: 0.2rem;
  background-color: rgb(210, 135, 135);
  transition: height 0.4s ease-out, padding 0.4s ease-out;
}

.topNav-underSide.active {
  height: 12rem;
  padding-top: 1.5rem;
}

.shopBtn_box {
  position: relative;
}

.shop-container {
  position: relative;
}

.shop-menu {
  width: 14rem;
  height: 8rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: aquamarine;
  cursor: pointer;
}

.shop-drinkBtn {
  width: 100%;
  height: 50%;
  border-radius: 0.5rem 0.5rem 0 0;
  cursor: pointer;
  margin: 0;
  font-size: 1.2rem;
}

.shop-packBtn {
  width: 100%;
  height: 50%;
  border-radius: 0 0 0.5rem 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.shop-drinkBtn:hover,
.shop-packBtn:hover {
  background-color: black;
  color: whitesmoke;
}

.topNav-underside-shop-menu {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.topNav-underside-shop-menu button {
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.topNav-underside-shop-menu button:hover {
  color: rgb(100, 100, 100);
}