.nav {
  min-width: 576px;
  max-width: 1800px;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  margin: 0 auto;
  /*  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  z-index: 100;
  transition: 300ms;
  /* background-color: rgba(255, 250, 240, 0.5); */
  background-image: linear-gradient(to right,
      rgba(255, 250, 240, 0.1) 0%,
      rgb(255, 250, 240) 45%,
      rgb(255, 250, 240) 55%,
      rgba(255, 250, 240, 0.1) 100%);
}

.nav.active {
  background-color: var(--farmWhite)
}

.underSide {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--farmWhite);
  transition: height 0.4s ease-out, padding 0.4s ease-out;
}

.underSide.active {
  height: 100vh;
  padding-top: 1.5rem;
  background-color: var(--farmWhite);
}

/* .active {
  background-color: var(--farmWhite);
} */

.leftBox {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.centerBox {
  /* width: 20rem; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightBox {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  /* gap: 2rem; */
  padding-right: 2rem;
}

.burgerBtn {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: transparent;
  margin-right: 2rem;
  display: none;
}

.burgerBar {
  transition: fill 0.2s ease-in-out;
}

.burgerBtn:hover .burgerBar {
  fill: var(--farmYellow);
}

.shopBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutBtn,
.shopBtn,
.eventBtn,
.reviewBtn,
.loginBtn,
.cartBtn,
.languageBtn,
.blogBtn,
.drinkBtn,
.maskPackBtn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.5rem 1.5rem;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.aboutBtn:hover,
.shopBtn:hover,
.eventBtn:hover,
.reviewBtn:hover,
.loginBtn:hover,
.cartBtn:hover,
.languageBtn:hover,
.blogBtn:hover {
  color: var(--farmYellow)
}

.shopMenu {
  width: 14rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 4rem;
  background-color: var(--farmYellow);
}

.drinkBtn:hover,
.maskPackBtn:hover {
  color: var(--farmGreenYellow);
}

.logoBtn {
  width: 10rem;
  height: 5rem;
  cursor: pointer;
  width: 10rem;
  overflow: hidden;
}

.logoImg {
  width: 10rem;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.logoText {
  font-size: 26.6667px;
  font-family: Arial;
  letter-spacing: 2px;

  text-align: center;
  writing-mode: lr-tb;
  direction: ltr;
  text-anchor: middle;

  fill: #000000;
  stroke: #000000;
  stroke-width: 0.377953;
  stroke-miterlimit: 11.7;
  paint-order: stroke fill markers;

  transition: fill 0.3s ease;
}

.logoTspanCompany {
  font-family: Cambria;
}

.logoTspanLogo {
  font-family: Cambria;
}

/*  */
.contents {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/etcImg/event.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventMain {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.eventTitle {
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
  padding: 2rem;
  background-color: white
}

.eventSubTitle {
  width: 100rem;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  text-align: center;
  padding: 1rem;
  background-color: white
}

.eventDecription {
  width: 100rem;
  font-size: 3rem;
}

.eventDetails {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.event01Box,
.event02Box {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  background-color: white;
}

.event01Box img,
.event02Box img {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
  margin-bottom: 3rem;
}


.event01Title,
.event02Title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.event01Description,
.event02Description {
  font-size: 2rem;
  text-align: center;
  padding: 0 3rem;
}

.eventInfo {
  width: 100%;
  height: 20%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.eventInfo div {
  margin-bottom: 1rem;
}

/* --------------------- */

.blogBtn:after,
.cartBtn:after,
.loginBtn:after,
.languageBtn:after {
  content: "comming soon";
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);

  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;

  /* opacity: 0; */
  visibility: hidden;
  transition: opacity 0.3s;

  pointer-events: none;
}

.blogBtn:hover::after,
.cartBtn:hover::after,
.loginBtn:hover::after,
.languageBtn:hover::after {
  opacity: 1;
  visibility: visible;
}

/* small 0px ~ 576px */

@media screen and (max-width: 576px) {

  .leftBox,
  .rightBox {
    display: none;
  }
}

/* medium 577px ~ 768px */

@media screen and (max-width: 768px) {}

/* large 769px ~ 992px */

@media screen and (max-width: 992px) {

  .leftBox,
  .rightBox {
    display: none;
  }

  .burgerBtn {
    display: block;
  }
}

/* xtra large 993px ~ 1200px */

@media screen and (max-width: 1200px) {}

/* xtra xtra large 1200 ~  */

@media screen and (max-width: 1400px) {}