/* .title {
    width: 100%;
    height: 10%;
    font-size: 5rem;
    display: flex;
    align-items: end;
    padding-left: 3rem;
}

.listFilterBox {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 0 3rem;
}

.listContainer {
    width: 100%;
    height: 85%;
}

.listFilter {
    font-size: 1.5rem;
    cursor: pointer;
    color: darkgray;
    background-color: transparent;
}

.listFilter::after {
    content: "|";
    padding: 1rem;
    color: darkgray;
}

.listFilter:last-child::after {
    content: none;
}

.listFilter:hover {
    color: black;
}

.list {
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 4rem 0;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.box:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.image {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5;
    height: 3em;
    width: 20rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.ratingBox {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board button {
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0 1rem;
    cursor: pointer;
} */