.aboutPage {
    min-width: 576px;
    max-width: 1800px;
    width: 100%;
    margin: auto;
}

/* -------------------- Brand Introduction -------------------- */
.brandIntroduction {
    width: 100%;
    height: 1200px;
}

.introductionTitle {
    height: 25%;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.introductionDescription {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;
    padding: 2rem 4rem;
}

.introductionImage {
    width: 100%;
    height: 50%;
    background-image: url('../../src/assets/etcImg/brandIntroduction.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* -------------------- Brand Story -------------------- */
.brandStory {
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas:
        "image title"
        "image description";
}

.brandStoryImageBox {
    grid-area: image;
    padding: 3rem;
}

.brandStoryImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 3rem;
}

.description {
    grid-area: description;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 3rem;
}

/* -------------------- Philosophy -------------------- */
.philosophy {
    width: 100%;
    height: 1600px;
    display: grid;
    grid-template-rows: 25% 15% 15% 45%;
    grid-template-areas:
        "value"
        "explain"
        "promise"
        "img";
}

.value {
    grid-area: value;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 10rem;
    text-align: center;
}

.explain {
    grid-area: explain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem 10rem;
    text-align: center;
}

.promise {
    grid-area: promise;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.5rem;
    line-height: 1.5;
}

.philosophyImage {
    grid-area: img;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url("../../src/assets/etcImg/philosophy.jpg");
}

/* -------------------- Ingredients (무한 슬라이드) -------------------- */
.ingredients {
    width: 100%;
    height: 1400px;
}

.ingredientsTitle {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.ingredientsDescription {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    padding: 1rem 10rem 0 10rem;
}

.ingredientsDescriptionList {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    padding: 0rem 10rem 0rem 10rem;
    gap: 2rem;
}

.ingredientsDescriptionList li {
    font-size: 2rem;
}

.ingredientsSlide {
    height: 40%;
}

.ingredientsSlideFrame {
    overflow: hidden;
    /* 트랙의 범위를 벗어나는 이미지 숨김 */
    cursor: grab;
    /* 드래그 가능한 커서 */
}

.ingredientsSlideTrack {
    display: flex;
    /* 이미지들을 가로로 나열 */
    white-space: nowrap;
    /* 자식 요소 줄바꿈 방지 */
    /* transition: transform 0.1s ease-out; -> 자동 슬라이드에서는 transition 대신 JS를 사용합니다. 
       드래그 기능을 위해 CSS transition은 제거하는 것이 좋습니다. */
}

.ingredientsSlideImg {
    padding-right: 2rem;
}




/* mobile 0px ~ 576px */

@media screen and (max-width: 576px) {
    .aboutPage {
        max-width: 1800px;
        width: 90%;
        margin: auto;
        /*  */
        width: 100%;
    }

    .aboutPage {
        /*  */
        height: auto;
    }

    /* -------------------- Brand Introduction -------------------- */

    .brandIntroduction {
        /*  */
        height: auto;
    }

    .introductionTitle {
        /*  */
        padding: 10rem 2rem 1rem 2rem;
        font-size: 3rem;
        height: auto;
        text-align: center;
    }

    .introductionDescription {
        /*  */
        padding: 2rem 2rem 5rem 2rem;
        height: auto;
        font-size: 1.5rem;
    }

    .introductionImage {
        height: 30rem;
    }

    /* -------------------- Brand Story -------------------- */
    .brandStory {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 0.4fr 1fr;
        grid-template-areas:
            "image title"
            "image description";
        height: auto;
        /*  */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brandStoryImageBox {
        /*  */
        padding: 5rem 0rem;
    }

    .brandStoryImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .story {
        /*  */
        font-size: 2rem;
        font-weight: bold;
        padding: 0 2rem;
    }

    .description {
        /*  */
        padding: 2rem 2rem 5rem 2rem;
    }

    /* -------------------- Philosophy -------------------- */
    .philosophy {
        /*  */
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        background-color: var(--farmBrown);
    }

    .value {
        /*  */
        font-size: 2rem;
        padding: 0 2rem 2rem 2rem;
    }

    .explain {
        /*  */
        padding: 2rem 2rem 0 2rem;
        text-align: start;
        justify-content: start;
        align-items: start;
    }

    .promise {
        /*  */
        justify-content: start;
        padding: 2rem 2rem 5rem 2rem;

    }

    .philosophyImage {
        /*  */
        width: 100%;
        height: 20rem;
    }

    /* -------------------- Ingredients (무한 슬라이드) -------------------- */
    .ingredients {
        width: 100%;
        /*  */
        height: auto;
        padding: 5rem 2rem 2rem 2rem;
    }

    .ingredientsTitle {
        /*  */
        height: auto;
        font-size: 2rem;
        padding-bottom: 0;
        margin-bottom: 2rem;
    }

    .ingredientsDescription {
        /*  */
        height: auto;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .ingredientsDescriptionList {
        /*  */
        height: auto;
        padding: 1rem;
        gap: 0;
        margin-bottom: 2rem;
    }

    .ingredientsDescriptionList li {
        /*  */
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

}