.aboutPage {
    min-width: 576px;
    max-width: 1800px;
    width: 100%;
    margin: auto;
}

/* -------------------- Brand Introduction -------------------- */
.brandIntroduction {
    width: 100%;
    height: 1200px;
}

.introductionTitle {
    height: 25%;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.introductionDescription {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;
    padding: 2rem 4rem;
}

.introductionImage {
    width: 100%;
    height: 50%;
    background-image: url('../../src/assets/etcImg/brandIntroduction.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* -------------------- Brand Story -------------------- */
.brandStory {
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas:
        "image title"
        "image description";
}

.brandStoryImageBox {
    grid-area: image;
    padding: 3rem;
}

.brandStoryImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story {
    grid-area: title;
    display: flex;
    justify-content: start;
    align-items: end;
    font-size: 3rem;
}

.description {
    grid-area: description;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 3rem 3rem 3rem 0;

}

/* -------------------- Philosophy -------------------- */
.philosophy {
    width: 100%;
    height: 1600px;
    display: grid;
    grid-template-rows: 25% 15% 15% 45%;
    grid-template-areas:
        "value"
        "explain"
        "promise"
        "img";
}

.value {
    grid-area: value;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 10rem;
    text-align: center;
}

.explain {
    grid-area: explain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem 10rem;
    text-align: center;
}

.promise {
    grid-area: promise;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.5rem;
    line-height: 1.5;
}

.philosophyImage {
    grid-area: img;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url("../../src/assets/etcImg/philosophy.jpg");
}

/* -------------------- Ingredients (무한 슬라이드) -------------------- */
.ingredients {
    width: 100%;
    height: 1400px;
}

.ingredientsTitle {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.ingredientsDescription {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    padding: 1rem 10rem 0 10rem;
}

.ingredientsDescriptionList {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    padding: 0rem 10rem 0rem 10rem;
    gap: 2rem;
}

.ingredientsDescriptionList li {
    font-size: 2rem;
}

.ingredientsSlide {
    height: 40%;
}

.ingredientsSlideFrame {
    overflow: hidden;
    /* 트랙의 범위를 벗어나는 이미지 숨김 */
    cursor: grab;
    /* 드래그 가능한 커서 */
}

.ingredientsSlideTrack {
    display: flex;
    /* 이미지들을 가로로 나열 */
    white-space: nowrap;
    /* 자식 요소 줄바꿈 방지 */
    /* transition: transform 0.1s ease-out; -> 자동 슬라이드에서는 transition 대신 JS를 사용합니다. 
       드래그 기능을 위해 CSS transition은 제거하는 것이 좋습니다. */
}

.ingredientsSlideImg {
    padding-right: 2rem;
}



/* xtra xtra large 1400 ~  */

@media screen and (max-width: 1400px) {

    .ingredients {
        width: 100%;
        height: auto;
        margin-bottom: 10rem;
    }

    .promise {
        /*  */
        padding: 0 10rem
    }

    .ingredientsTitle {
        height: auto;
        font-size: 3rem;
        padding: 10rem 10rem 3rem 10rem;
        text-align: center;
    }

    .ingredientsDescription {
        height: auto;
        padding: 1rem 10rem 5rem 10rem;
    }

    .ingredientsDescriptionList {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0rem 10rem 10rem 10rem;
    }
}

/* xtra large 993px ~ 1200px */

@media screen and (max-width: 1200px) {}

/* large 769px ~ 992px */

@media screen and (max-width: 992px) {
    .aboutPage {
        height: auto;
    }

    .brandIntroduction {
        width: 100%;
        height: auto;
        margin-bottom: 10rem;
    }

    .introductionTitle {
        /*  */
        height: auto;
        margin-top: 5rem;
        padding: 10rem 5rem 5rem 5rem;
        text-align: center;
    }

    .introductionDescription {
        height: auto;
        align-items: center;
        padding: 0 5rem 5rem 5rem;
    }

    .introductionImage {
        width: 90%;
        height: 30rem;
        margin: 0 auto;
    }

    /*  */

    .brandStory {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .story {
        width: 100%;
        height: 100%;
        align-items: start;
        align-items: center;
        /*  */
        font-weight: bold;
        font-size: 3rem;
        text-align: center;
        padding: 2rem;
    }

    .brandStoryImageBox {
        padding: 0;
        order: 1;
    }

    .description {
        height: auto;
        padding: 5rem 6rem;
        line-height: 2;
    }

}

/* medium 577px ~ 768px */

@media screen and (max-width: 768px) {
    .brandStory {
        margin-bottom: 5rem;
    }

    .value {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        /*  */
        padding: 2rem 5rem;
        margin-bottom: 5rem;
    }

    .explain {
        padding: 2rem;
    }

    .promise {
        padding: 2rem 5rem;
    }

    .ingredientsTitle {
        padding: 2rem 5rem;
    }

    .philosophy {
        margin-bottom: 5rem;
    }

    .ingredientsDescription {
        padding: 2rem 5rem;
    }

    .ingredientsDescriptionList {
        padding: 2rem 5rem;
        margin-bottom: 5rem;
        font-size: 1.5rem;
    }




}

/* small 0px ~ 576px */

@media screen and (max-width: 576px) {}