.eventPage {
    min-width: 576px;
    max-width: 1800px;
    margin: auto;
}

.boardImgBox {
    width: 100%;
    height: 40vh;
    padding-top: 5rem;
    background-image: url('../assets/etcImg/eventMain.png');
    background-position: 0 -20rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageTitle {
    width: 100%;
    font-size: 4rem;
    padding: 3rem;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--farmWhite);
    margin-bottom: 5rem;
    background-color: var(--farmGreenYellowWhite);
}

.eventList {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.box {
    width: 30rem;
    height: 30rem;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    margin: 0 2rem 3rem 2rem;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 10px 6px rgba(0, 0, 0, 0.5);
}

.eventImage {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.eventTitle {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.eventSubTitle {
    width: 100%;
    height: 20%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.boardBtnBox {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.boardBtnBox button {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 1rem;
}

.boardBtnBox button.activePage {
    background-color: var(--farmYellow);
    color: var(--farmGreen);
    font-weight: bold;
    border-color: var(--farmYellow);
}

.boardBtnBox button:hover:not(:disabled):not(.activePage) {
    background-color: var(--farmWhite)
}

.boardBtnBox button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


/* xtra xtra large 1200 ~  */

@media screen and (max-width: 1400px) {
    .boardImgBox {
        background-position: 0rem -10rem;
    }
}

/* xtra large 993px ~ 1200px */

@media screen and (max-width: 1200px) {}

/* large 769px ~ 992px */

@media screen and (max-width: 992px) {

    .boardImgBox {
        background-position: 0rem -5rem;
    }

    .box {
        width: 50rem;
        height: 50rem;
    }

    .eventTitle {
        font-size: 3rem;
    }

    .eventSubTitle {
        font-size: 2rem;
        line-height: 2;
    }

}

/* medium 577px ~ 768px */

@media screen and (max-width: 768px) {
    .boardImgBox {
        background-position: 0rem 5rem;
    }
}

/* small 0px ~ 576px */

@media screen and (max-width: 576px) {
    .boardImgBox {
        background-position: -3rem 10rem;
        background-size: 120%;
    }
}