.eventPage {
    width: 1800px;
    margin: auto;
}

.boardImgBox {
    width: 100%;
    height: 800px;
    padding-top: 5rem;
    background-image: url('../assets/etcImg/eventMain.png');
    background-position: 0 -20rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageTitle {
    width: 100%;
    height: 10rem;
    font-size: 4.5rem;
    font-weight: bold;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(45, 187, 147);
    margin-bottom: 3rem;
}

.eventList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.box {
    width: 25%;
    height: 30rem;
    padding: 1rem;
    margin-bottom: 3rem;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.box:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1);
}

.eventImage {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.eventTitle {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.eventSubTitle {
    width: 100%;
    height: 20%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.boardBtnBox {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* 간격 조정 */
    background-color: darkolivegreen;
}

.boardBtnBox button {
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0;
    transition: background-color 0.2s; /* 호버 효과를 위한 트랜지션 추가 */
}

.boardBtnBox button.activePage {
    background-color: white;
    color: darkolivegreen;
    font-weight: bold;
}

.boardBtnBox button:hover:not(:disabled):not(.activePage) {
    background-color: rgba(255, 255, 255, 0.2);
}

.boardBtnBox button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}