.base {
    max-width: 1800px;
    min-width: 320px;
    width: 1800px;
    margin: auto;
}

.mainSlide {
    width: 1800px;
    height: 1000px;
    position: relative;
    overflow: hidden;
}

.bestProducts {
    width: 100%;
    height: 1000px;
}

.package {
    width: 100%;
    height: 1000px;
    display: flex;
    background-color: moccasin
}

.recommended {
    width: 100%;
    height: 1400px;
}

.brandValue {
    width: 100%;
    height: 1200px;
    padding: 5rem;
    background-color: moccasin
}

.brandStory {
    width: 100%;
    height: 1200px;
    position: relative;
}

.review {
    width: 100%;
    height: 1600px;
    padding: 5rem 5rem;
}