.modalEventPage {
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

/*  */
.titleBox {
    width: 100%;
    height: auto;
    color: var(--farmBlack);
    background-color: var(--farmWhite-o75);
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 5rem;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5rem;
}

.subTitle {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
}

.description {
    font-size: 2rem;
    text-align: center;
    line-height: 2;
}

.info {
    width: 100%;
    height: auto;
    font-size: 1rem;
    border-top: 0.5rem solid var(--farmWhite);
}

.time {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: var(--farmWhite-o75);
    font-size: 2rem;
    padding: 3rem;
    margin-top: 5rem;
}

.time p {
    margin-left: 1.5rem;
}

.location {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: var(--farmWhite-o75);
    font-size: 2rem;
    padding: 3rem;
}


/* xtra xtra large 1200 ~  */

@media screen and (max-width: 1400px) {}

/* xtra large 993px ~ 1200px */

@media screen and (max-width: 1200px) {}

/* large 769px ~ 992px */

@media screen and (max-width: 992px) {}

/* medium 577px ~ 768px */

@media screen and (max-width: 768px) {
    .modalEventPage {
        padding: 2rem;
    }

    .titleBox {
        padding: 2rem;
    }
}

/* small 0px ~ 576px */

@media screen and (max-width: 576px) {}