.footer {
    width: 100%;
    height: 800px;
    padding: 3rem;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: moccasin
}

.company {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstLineTitle,
.secondLineTitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.companyName {
    margin-top: 2rem;
    font-size: 2rem;
}

.connect {
    width: 100%;
    height: 50%;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.instargram,
.email,
.number,
.adress {
    width: 60%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailAdd {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}

.eamilCopy {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}


.email button {
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}

.email button:hover {
    background-color: rgb(88, 68, 34);
    color: moccasin;
}

.copyright {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}