.container {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.productBox {
  width: 22%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  filter: brightness(85%);
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  margin: 0 0.5rem;
}

.productBox:hover {
  transform: scale(1.1);
  filter: brightness(100%);
  box-shadow: 0 15px 25px var(--farmBlack-o50);
}

.image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.name {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.price {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.stateBox {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.state {
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--farmBlack)
}



/* xtra xtra large 1200 ~  */

@media screen and (max-width: 1400px) {}

/* xtra large 993px ~ 1200px */

@media screen and (max-width: 1200px) {}

/* large 769px ~ 992px */

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  .productBox {
    width: 50%;
    height: 30rem;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    margin: 2rem 0;
  }

  .image {
    width: 60%;
    height: 50%;
    object-fit: cover;
  }

  .name {
    font-size: 1.3rem;
  }

}

/* medium 577px ~ 768px */

@media screen and (max-width: 768px) {}

/* small 0px ~ 576px */

@media screen and (max-width: 576px) {
  .productBox {
    width: 100%;
    height: 40rem;
  }

  .image {
    width: 80%;
    height: 50%;
    object-fit: cover;
  }

  .name {
    font-size: 2rem;
  }

  .price {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .state {
    font-size: 2rem;
  }
}