.container {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: start;
  justify-content: space-around;
  padding: 2rem
}

.productBox {
  width: 22%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  filter: brightness(85%);
  transition: all 0.3s ease-in-out;
  padding: 1rem;
}

.productBox:hover {
  transform: scale(1.1);
  filter: brightness(100%);
  box-shadow: 0 15px 25px var(--farmBlack-o50);
}

.image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.name {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.price {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.stateBox {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.state {
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--farmBlack)
}

/* mobile 0px ~ 576px */

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
  }

  .productBox {
    width: 50%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    filter: brightness(85%);
    transition: all 0.3s ease-in-out;
    padding: 1rem;
  }

  .image {
    height: 50%;
    object-fit: cover;
  }

  .name {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;
  }

  .price {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 0rem;
  }

  .stateBox {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .state {
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--farmBlack);
  }


}