.container {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: start;
  justify-content: space-around;
  padding: 2rem
}

.productBox {
  width: 22%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  filter: brightness(85%);
  transition: all 0.3s ease-in-out;
  padding: 1rem;
}

.productBox:hover {
  transform: scale(1.1);
  filter: brightness(100%);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.imgBox {
  width: 100%;
  height: 50%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.price {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.stateBox {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.state {
  padding: 0.5rem 1rem;
  border: 0.1rem solid black;
}