.slide {
    width: 100%;
    height: 54%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
}

.leftBox,
.rightBox {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(141, 173, 232);
}

.slideFrame {
    /* (30rem * 3)의 너비로 설정하여 3개 항목만 보이게 함 */
    width: 1200px;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgb(55, 153, 153);
}

.track {
    height: 10rem;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(113, 218, 222);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: filter 0.3s ease;
}