.productContainer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.isShow {
    height: auto;
}

.showBtnBox {
    display: none;
}

.productBox {
    width: 22%;
    height: 30rem;
    margin-top: 3rem;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

.productBox:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 10px 6px rgba(0, 0, 0, 0.5);
}

.active {
    opacity: 1;
}

.image {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.name {
    width: 100%;
    height: 15%;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceBox {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.sale {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.discountPrice {
    margin-right: 2rem;
}

.nomalPrice {
    opacity: 0.5;
    text-decoration: line-through;
}

.discountState {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid rgb(130, 130, 130);
    color: rgb(130, 130, 130);
}

.price {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}


/* mobile 0px ~ 576px */

@media screen and (max-width: 576px) {

    .productContainer {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        /*  */
        max-height: 120rem;
        overflow: hidden;
        margin-bottom: 5rem;
        transition: all 1s ease-in-out;
    }

    .isShow {
        max-height: 500rem;
        transition: all 1s ease-in-out;
    }

    .showBtnBox {
        display: block;
        width: 100%;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .showBtnBox button {
        width: 10rem;
        height: 5rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: var(--farmGreenYellowWhite);
    }

    .productBox {
        /*  */
        width: 50%;
        margin-top: 0rem;
    }

    .productBox:hover {
        transform: scale(1.1);
        box-shadow: 6px 6px 10px 6px rgba(0, 0, 0, 0.5);
    }

    .active {
        opacity: 1;
    }

    .image {
        object-fit: cover;
        /*  */
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .name {
        /*  */
        text-align: center;
        height: 20%;
    }

    .priceBox {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        /*  */
    }

    .sale {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .discountPrice {
        margin-right: 2rem;
    }

    .nomalPrice {
        opacity: 0.5;
        text-decoration: line-through;
    }

    .discountState {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.1rem solid rgb(130, 130, 130);
        color: rgb(130, 130, 130);
    }

    .price {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
    }


}