.slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slideFrame {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.track {
    height: 40rem;
    display: flex;
    flex-wrap: nowrap;
}

.productBox {
    height: 100%;
    flex-shrink: 0;
    /* item이 줄어들지 않도록 설정 */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 1rem;
}

.productBox::before {
    content: "VIEW";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 5;
}

.productBox:hover::before {
    opacity: 1;
}

.image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.name {
    width: 100%;
    height: 20%;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.priceBox {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.salePrice {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.price {
    font-size: 1.1rem;
    text-decoration: line-through;
    color: rgb(90, 90, 90);
}

.prevBox,
.nextBox {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prevBtn,
.nextBtn {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    font-size: 2rem;
    z-index: 20;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--farmWhite);
    color: var(--farmBlack)
}

.prevBtn:hover,
.nextBtn:hover {
    background-color: var(--farmYellow);
    color: var(--farmDarkGray);
}

.stateBox {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.state {
    padding: 0.5rem 1rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

/* mobile 0px ~ 576px */

@media screen and (max-width: 576px) {

    .slide {
        /*  */
        justify-content: center;
        height: 30rem;

    }

    .slideFrame {
        /*  */
        width: 400px;
    }

    .track {
        height: 30rem;
    }

    .productBox {
        justify-content: center;
        padding: 0rem;
    }

    .productBox::before {
        content: "VIEW";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 5;
        /*  */

    }

    .productBox:hover::before {
        opacity: 1;
        /*  */
    }

    .image {
        width: 100%;
        height: 50%;
        object-fit: cover;
        cursor: pointer;
        transition: filter 0.3s ease;
    }

    .name {
        width: 100%;
        height: 15%;
        font-size: 1.3rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .priceBox {
        height: 15%;
        padding: 0rem;
        flex-direction: row;
        justify-content: center;
    }

    .stateBox {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
    }

    .salePrice {
        font-weight: bold;
        margin: 0 2rem 0 0;
    }

    .price {
        font-size: 1.1rem;
        text-decoration: line-through;
        color: var(--farmDarkGray)
    }

    .prevBox,
    .nextBox {
        width: 15%;
        /*  */
    }

    .prevBtn,
    .nextBtn {
        border-radius: 1rem;
    }
}