.allProducts {
    width: 100%;
}

.hook {
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--farmWhite);
    margin-bottom: 5rem;
    background-color: var(--farmGreenYellowWhite);
    text-align: center;
    padding: 3rem;
}