.bestProduct {
  width: 100%;
}

.hook {
  width: 100%;
  height: 10rem;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--farmWhite);
  margin-bottom: 5rem;
  background-color: var(--farmGreenYellowWhite);
  text-align: center;
}

.bestProductBox {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  height: 18%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.subTitle {
  width: 100%;
  height: 12%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 0.5rem;
}


/* xtra xtra large 1200 ~  */

@media screen and (max-width: 1400px) {}

/* xtra large 993px ~ 1200px */

@media screen and (max-width: 1200px) {}

/* large 769px ~ 992px */

@media screen and (max-width: 992px) {

  .hook {
    height: auto;
    font-size: 3rem;
    padding: 3rem;
  }

  .bestProductBox {
    height: auto;
  }

  .subTitle {
    margin-bottom: 3rem;
    font-size: 2rem;
  }
}

/* medium 577px ~ 768px */

@media screen and (max-width: 768px) {}

/* small 0px ~ 576px */

@media screen and (max-width: 576px) {
  .subTitle {
    margin-bottom: 1rem;
    font-size: 2rem;
    padding: 3rem 5rem 0 5rem;
  }
}