.bestProduct {
  width: 100%;
}

.hook {
  width: 100%;
  height: 10rem;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--farmWhite);
  margin-bottom: 5rem;
  background-color: var(--farmGreenYellowWhite);
}

.bestProductBox {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  height: 18%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 0.5rem;
}

.subTitle {
  width: 100%;
  height: 12%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 0.5rem;
}


/* mobile 0px ~ 576px */

@media screen and (max-width: 576px) {

  .hook {
    /*  */
    height: auto;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 3rem;
  }

  .bestProductBox {
    /*  */
    height: auto;
  }

  .title {
    /*  */
    height: auto;
    padding: 1rem;
    font-size: 2rem;
  }

  .subTitle {
    /*  */
    height: auto;
    padding: 1rem;
    margin-bottom: 1rem;
  }

}