.bestProduct {
    width: 100%;
}

.hook {
    width: 100%;
    height: 10rem;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    margin-bottom: 5rem;
    background-color: rgb(200, 211, 147);
}

.bestProductBox {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
  width: 100%;
  height: 18%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 0.5rem;
}

.subTitle {
  width: 100%;
  height: 12%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 0.5rem;
}