.allProducts {
    width: 100%;
}

.hook {
    width: 100%;
    height: 10rem;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--farmWhite);
    margin-bottom: 5rem;
    background-color: var(--farmGreenYellowWhite);
}


/* mobile 0px ~ 576px */

@media screen and (max-width: 576px) {
    .hook {
        /*  */
        height: auto;
        font-size: 3rem;
        text-align: center;
        padding: 1rem;
        margin-bottom: 3rem;
    }
}