.allProducts {
    width: 100%;
}

.hook {
    width: 100%;
    height: 10rem;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(179, 193, 108);
}

.productContainer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.productBox {
    width: 22%;
    height: 30rem;
    margin-top: 3rem;
    cursor: pointer;
    padding: 1rem;
}

.productBox:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 10px 6px rgba(0, 0, 0, 0.5);
}

.active {
    opacity: 1;
}

.image {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.name {
    width: 100%;
    height: 15%;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceBox {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.sale {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.discountPrice {
    margin-right: 2rem;
}

.nomalPrice {
    opacity: 0.5;
    text-decoration: line-through;
}

.discountState {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid rgb(130, 130, 130);
    color: rgb(130, 130, 130);
}

.price {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}