.allProducts {
    width: 100%;
}

.hook {
    width: 100%;
    height: 10rem;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(179, 193, 108);
}