:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --farmYellow: rgba(248, 182, 25);
  --farmYellowWhite: rgb(255, 235, 187);
  --farmWhite: rgb(255, 250, 240);
  --farmLightGray: rgb(200, 200, 200);
  --farmGray: rgb(150, 150, 150);
  --farmDarkGray: rgb(40, 40, 40);
  --farmGreen: rgba(55, 151, 71);
  --farmGreenYellow: rgb(133, 153, 55);
  --farmGreenYellowWhite: rgb(190, 200, 100);
  --farmBrown: rgb(230, 120, 50);
  --farmOrange: rgba(217, 85, 64);
  --farmLightBlue: rgba(187, 228, 221);
  --farmBlack: rgba(40, 38, 34);
  /*  */
  --farmBlack-o25: rgba(0, 0, 0, 0.25);
  --farmBlack-o50: rgba(0, 0, 0, 0.5);
  --farmBlack-o75: rgba(0, 0, 0, 0.75);
  --farmBlack-o100: rgba(40, 38, 34, 1);
  background-color: var(--farmWhite);
}

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}